@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster");
.con_container {
  background-color: #FBFBF2;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center; }

.con_mid-container {
  background-color: #CFD2CD;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .con_mid-container h5 {
    color: #847577;
    font-family: "Lobster", cursive;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-decoration: underline; }

.con_title {
  color: #847577;
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  margin-bottom: 20px; }

.con_input {
  width: 500px;
  height: 25px;
  margin-top: 10px; }

.con_link {
  text-decoration: none;
  color: #847577; }

.con_btn {
  background-color: #FBFBF2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #847577;
  height: 30px;
  width: 30px;
  margin-left: 470px;
  margin-top: 10px;
  font-family: "Lobster", cursive;
  font-size: 20px; }

.con_drop-menu {
  width: 500px;
  height: 25px;
  margin-top: 10px; }
