@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster");
.addprop_container {
  background-color: #FBFBF2;
  height: calc(100vh - 75px);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden; }

.addprop_mid-container {
  background-color: #CFD2CD;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 200px;
  margin-left: 200px; }

.addprop_title {
  color: #847577;
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  margin-bottom: 20px; }

.addprop_input {
  width: 500px;
  height: 25px;
  margin-top: 10px; }

.renderImgURL {
  position: relative;
  border: solid 1px #847577;
  min-width: 300px;
  min-height: 200px;
  max-width: 400px;
  max-height: 300px;
  margin-bottom: 10px;
  border-radius: 5px; }

.addprop_btnlink {
  text-decoration: none;
  color: #847577;
  font-family: "Libre Baskerville", serif; }

.addprop_btn {
  background-color: #FBFBF2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #847577;
  height: 30px;
  width: 30px;
  margin-left: 470px;
  margin-top: 10px;
  font-family: "Libre Baskerville", serif;
  font-size: 20px; }
