@import './../../../variables.scss';


.addprop_container {
    background-color: $lightColor;
    height: calc(100vh - 75px);
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.addprop_mid-container {
    background-color: $brightColor;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 200px;
    
    }

.addprop_title {
    color: $darkColor;
    font-family: $readFont;
    font-size: 20px;
    margin-bottom: 20px;
    
}

.addprop_input {
    width: 500px;
    height: 25px;
    margin-top: 10px;
}

.renderImgURL {
    position: relative;
    border: solid 1px $darkColor;
    min-width: 300px;
    min-height: 200px;
    max-width: 400px;
    max-height: 300px;
    margin-bottom: 10px;
    border-radius: 5px;

}

.addprop_btnlink {
    text-decoration: none;
    color: $darkColor;
    font-family: $readFont;
}

.addprop_btn {
    background-color: $lightColor;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: $darkColor;
    height: 30px;
    width: 30px;
    margin-left: 470px;
    margin-top: 10px;
    font-family: $readFont;
    font-size: 20px;
}