@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster");
.addten_container {
  background-color: #FBFBF2;
  height: calc(100vh - 75px);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden; }

.addten_mid-container {
  background-color: #CFD2CD;
  width: 100%;
  display: flex;
  margin-right: 200px;
  margin-left: 200px;
  align-items: center;
  flex-direction: column; }
  .addten_mid-container h3 {
    color: #847577;
    font-family: "Lobster", cursive;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 400px;
    padding: 10px;
    border-bottom: 1px solid #847577; }

.addten_link {
  text-decoration: none;
  color: #847577; }

.addten_btn {
  background-color: #FBFBF2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #847577;
  height: 30px;
  width: 30px;
  margin-left: 470px;
  margin-top: 10px;
  font-family: "Libre Baskerville", serif;
  font-size: 20px; }

.addten_title {
  color: #847577;
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  margin-bottom: 20px; }

.addten_input {
  width: 500px;
  height: 25px;
  margin-top: 10px; }
