@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster");
.check_container {
  height: 100vh;
  background-color: #A6A2A2;
  background-image: URL("https://images.unsplash.com/photo-1468267256438-16da49fada97?auto=format&fit=crop&w=1506&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.check_btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .check_btns .check_landbtn {
    background-color: transparent;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    font-size: 40px;
    border: none;
    font-family: "Libre Baskerville", serif;
    color: #E5E6E4;
    letter-spacing: 2px;
    border: 1px solid #E5E6E4;
    width: 400px;
    height: 100px;
    margin: 20px; }
  .check_btns .check_tenbtn {
    margin: 20px;
    background-color: transparent;
    border-radius: 10px;
    width: 400px;
    height: 100px;
    font-size: 40px;
    border: none;
    font-family: "Libre Baskerville", serif;
    border: 1px solid #E5E6E4;
    color: #E5E6E4;
    letter-spacing: 2px; }
