@import './../../variables.scss';


.navbar_container {
    height: 75px;
    width: 100%;
    background-color: $darkColor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient($darkColor, #726869);


    .navbar_user-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;

        .navbar_link {
            text-decoration: none;
        }

        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            margin-left: 10px;
            margin-right: 25px;
        }

        .username {
            font-family: $cursiveFont;
            font-size: 25px;
            color: $lightColor;
            letter-spacing: 2px;
        }   
    }

    .nav_logo {
        width: 50px;
        height: 50px;
        position: absolute;
        left: calc(50% - 25px);
        margin-bottom: 40px;
    }
}


.sidenav.expanded {
    background-color: $darkColor;
    width: 200px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 75px);
    position: absolute;
    left: 0;
    top: 75px;

    a {
        text-decoration: none;
    }

    .sidenav_link{
        border: 1px solid $lightColor;
        text-decoration: none;
        color: $lightColor;
        font-family: $readFont;
        padding: 10px;
        width: 150px;
        margin: 20px;
        border-radius: 5px;

        a {
            text-decoration: none;
            color: $lightColor;
        }
    }
}


    .sidenav {
        background-color: $darkColor;
        width: 200px;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: -200px;
        transition: left .5s;
        height: 100%;

        a {
            text-decoration: none;
        }
    
        .sidenav_link{
            border: 1px solid $lightColor;
            text-decoration: none;
            color: $lightColor;
            font-family: $readFont;
            padding: 10px;
            width: 150px;
            margin: 20px;
            border-radius: 5px;
    
            a {
                text-decoration: none;
                color: $lightColor;
            }
        }
}
