@import './../../variables.scss';

.property_outer-container {
    display: flex;
    justify-content: center;

}
.property_container {
    width: 100%;
    height: 325px;
    border: 1px solid $darkColor;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;


    .property_nav {
        background-color: $lightColor;
        display: flex;
        justify-content: left;
        flex-direction: row;
        align-items: center;
        height: 45px;
        width: 100%;

        .property_link {
            text-decoration: none;
            color: $medDarkColor;
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            border: 1px solid $medDarkColor;
            padding: 5px;
            border-radius: 5px;
        }
    }

    .property_info {
        margin: auto;
        background-color: $brightColor;
        height: calc(100% - 45px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;

        .property_image {
            max-height: 300px;
            max-width: 300px;

        }

        .property_column {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 300px;
            width: 200px;
            padding: 10px;
            

            .property_category {
                align-items: center;
                margin: 25px;
                width: 150px;

                h1 {
                    font-size: 20px;
                    letter-spacing: 1px;
                    font-family: $cursiveFont;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    border-bottom: 1px solid $darkColor;
                    width: 150px;
                    padding-bottom: 5px;
                }

                .property_data {
                    font-family: $readFont;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 150px;
                    padding: 5px;
                    word-wrap: break-word

                }
            }
        }
    }
}