@import './../../variables.scss';

.property_main {
    background-color: $darkColor;
    padding: 10px;
}

.property_container {
    border-radius: 10px;
}

.property_info {
    background-color: $lightColor;
    width: 1000px;
    position: relative;
    left: calc(50% - 500px);
    height: 225px;
    font-family: $readFont;
    display: flex;
    margin-right: 212.5px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: solid 1px $medColor;
    border-left: solid 1px $medColor;
    border-right: solid 1px $medColor;

    .property_image {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 12.5px;
        top: 12.5px;
        border: solid 2px $medColor;
        border-radius: 10px;
    }

    .property_columnA {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 237.5px;

        .property_address {
            margin-bottom: 30px;
        }

        .property_rent {
            margin-top: 30px;
        }
    }

    .property_columnB {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 37.5px;

        .property_tenant {
            margin-bottom: 30px;
        }

        .property_lease {
            margin-top: 30px;
        }
    }
}

.property_nav {
    position: relative;
    left: calc(50% - 500px);
    background-color: $brightColor;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1000px;    
    height: 60px;
    color: $darkColor;
    font-family: $cursiveFont;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: solid 1px $medColor;
    border-left: solid 1px $medColor;
    border-right: solid 1px $medColor;

    .property_addtenant {
        text-decoration: none;
        color: $darkColor;
    }

    .property_edit {
        text-decoration: none;
        color: $darkColor;
    }
}