@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster");
.ldash_outer-container {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.ldash_container {
  background-color: #FBFBF2;
  width: 100%;
  height: calc(100%-75px);
  display: flex; }
  .ldash_container .ldash_mid-container {
    width: 100%;
    height: 100vh;
    background-color: #E5E6E4;
    margin-right: 200px;
    margin-left: 200px; }
    .ldash_container .ldash_mid-container .ldash_header {
      width: 100%;
      background-color: #A6A2A2;
      height: 50px;
      font-family: "Libre Baskerville", serif;
      font-size: 20px;
      letter-spacing: 1px;
      color: #E5E6E4;
      justify-content: center;
      align-items: center; }
      .ldash_container .ldash_mid-container .ldash_header h1 {
        padding: 15px; }
    .ldash_container .ldash_mid-container .ldash_prop-container {
      height: calc(100% - 80px);
      width: 100%;
      align-items: center;
      overflow: scroll; }
