@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster");
.tdash_container {
  background-color: #273E47;
  width: 100%;
  height: 100vh; }

.tdash_container h1 {
  margin-top: 20px;
  color: #D8973C;
  font-family: "Libre Baskerville", serif;
  font-size: 30px; }

.tdash_buttons {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 20px;
  font-family: "Lobster", cursive;
  margin-bottom: 10px; }
  .tdash_buttons .tdash_contact {
    position: relative;
    left: calc(50% - 500px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #D8C99B;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    color: #bd632f; }
  .tdash_buttons .tdash_addprop {
    position: relative;
    left: calc(50% - 500px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #D8C99B;
    border-radius: 10px;
    height: 40px;
    width: 175px;
    color: #bd632f;
    font-weight: bolder;
    margin-left: 12px; }
