@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster');

.main {
    background-image: url(https://images.unsplash.com/photo-1480074568708-e7b720bb3f09?w=1353&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.header-container {
    background-color: #B0A09C;
    font-family: 'Libre Baskerville', serif;
    opacity: .7;
    font-size: 30px;
    width: 600px;
    height: 112px;
    margin-top: 20px;
}

.header{
    padding: 12px;
}

.simplified {
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
}

.login-container {
    width: 200px;
    height: 100px;
    background-color: #B0A09C;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    opacity: .7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    font-family: 'Lobster', cursive;
    font-size: 44px;
    color: #534E4C;
    text-decoration: none;
}

.logintext {
    text-decoration: none;
    color: black;
    
}