@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster");
.login_outer-container {
  height: 100vh;
  overflow: hidden; }

.login_container {
  height: 100%;
  background-color: #A6A2A2;
  background-image: URL("https://images.unsplash.com/photo-1468267256438-16da49fada97?auto=format&fit=crop&w=1506&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .login_container .login_header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 200px; }
    .login_container .login_header-container h1 {
      font-family: "Libre Baskerville", serif;
      font-size: 40px;
      color: #847577; }
    .login_container .login_header-container h2 {
      font-family: "Lobster", cursive;
      font-size: 30px;
      color: #847577; }
  .login_container .login_button-container {
    margin-bottom: 200px; }
    .login_container .login_button-container .login_link {
      text-decoration: none;
      color: #FBFBF2;
      border: solid 1px #FBFBF2;
      border-radius: 5px;
      padding: 10px;
      padding-right: 60px;
      padding-left: 60px;
      font-size: 40px;
      font-family: "Libre Baskerville", serif; }
