@import './../../variables.scss';


.login_outer-container {
    height: 100vh;
    overflow: hidden;
}

.login_container {
    height: 100%;
    background-color: $medDarkColor;
    background-image: URL('https://images.unsplash.com/photo-1468267256438-16da49fada97?auto=format&fit=crop&w=1506&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .login_header-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 200px;

        h1 {
            font-family: $readFont;
            font-size: 40px;
            color: $darkColor;
        }

        h2 {
            font-family: $cursiveFont;
            font-size: 30px;
            color: $darkColor;
        } 
    }

    .login_button-container {
        margin-bottom: 200px;

        .login_link {
            text-decoration: none;
            color: $lightColor;
            border: solid 1px $lightColor;
            border-radius: 5px;
            padding: 10px;
            padding-right: 60px;
            padding-left: 60px;
            font-size: 40px;
            font-family: $readFont;

        }
    
    }
}

