@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster');

$readFont: 'Libre Baskerville', serif;
$cursiveFont: 'Lobster', cursive;

$darkColor: #847577;
$medDarkColor: #A6A2A2;
$brightColor: #CFD2CD;
$medColor: #E5E6E4;
$lightColor: #FBFBF2;