@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster');

$readFont: 'Libre Baskerville', serif;
$cursiveFont: 'Lobster', cursive;

$darkColor: #273E47;
$medDarkColor: #bd632f;
$brightColor: #D8973C;
$medColor: #AC9969;
$lightColor: #D8C99B;